@import "./reset.scss";
@import "./variables/global.scss";

.app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font: var(--font-m);
  color: var(--color-text-light);
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg-dark3);
  overflow: hidden;

  .content-page {
    background-color: var(--color-bg-dark3);
    padding-top: var(--navbar-height);
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    margin: auto;

    .page-wrapper {
      width: 90%;
      height: 90%;
      background-color: var(--color-bg-dark3);
      margin: auto;
    }
  }
}
