@import "./reset.scss";
@import "./variables/global.scss";

.app {
  font: var(--font-m);
  color: var(--color-text-light);
  min-height: 100vh;
  background-color: var(--color-bg-dark3);
}

.content-page {
  display: flex;
  padding-top: var(--navbar-height);
  width: 90vw;
  height: 100vh;
  margin: auto;
}

.page-wrapper {
  flex-grow: 1;
  background-color: var(--color-bg-dark3);
}
