@import "./reset.scss";
@import "./variables/global.scss";

.app {
  font: var(--font-m);
  color: var(--color-text-light);
  width: 100vw;
  height: 100vh;
  background-color: var(--color-bg-dark3);

  .content-page {
    background-color: var(--color-bg-dark3);
    padding-top: var(--navbar-height);
    width: 100%;
    min-height: 100%;
    margin: auto;
  }

  .page-wrapper {
    width: 90%;
    min-height: 100%;
    flex-grow: 1;
    background-color: var(--color-bg-dark3);
    margin: auto;
    box-sizing: content-box;
  }
}
