.wrapper {
  width: 100%;
  height: 100%;
}

.gameContainer {
  width: 100%;
  height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 90%;
}

.nav {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.info {
  font-size: 1.5rem;
  text-align: center;
}

.exercise {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  text-align: center;
  font-size: 2rem;
}

.btnContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gameField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(14, 13, 13);
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

}

.cell {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  padding: 10px;
  border: 1px solid white;
  cursor: pointer;
  background-color: #aaa;
}

.isOpen {
  background-color: blue;
}

.isClose {

}

.exercise {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}

.win {

}

.loss {

}


// .card {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   color: white;
//   font-size: 18px;
//   padding: 10px;
//   border: 1px solid #333;
//   cursor: pointer;
//   position: relative;
//   transform-style: preserve-3d;
//   transition: transform 0.6s;
// }

// .card.selected {
//   transform: rotateY(180deg);
//   cursor: not-allowed;
// }

// .cardSide {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   backface-visibility: hidden;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .front {
//   background-color: white;
//   transform: rotateY(180deg);
// }

// .cardSide img {
//   width: 100%;
//   height: 100%;
// }
