.LogFormWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .LogFormHeader {
    color: rgb(92, 92, 92);
  }

  .InputContainer {
    margin: 1vh;
  }

  .ButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
}

@media (max-width: 767px) {
  .LogFormWrapper {
    width: 80%;
    height: 80%;
    margin: auto;
    font-size: 2rem;

    .LogFormHeader {
      line-height: 5vh;
    }
    .InputContainer {
      margin: 3vh;
    }
    .ButtonContainer {
      font-size: 2rem;
      width: 60vw;
      margin: auto;
      & * {
        font-size: 2rem;
      }
    }
  }
}
