.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - var(--navbar-height));
  background-color: rgba(0, 0, 0, 0.3);

  .content {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;

    .containerSquare {
      width: 90%;
      height: 30%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .square {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 100%;
        border: 1px solid white;
        background-color: black;
        cursor: pointer;
        &:hover {
          border: 1px solid blue;
        }
        &.circule {
          width: 10%;
          height: 60%;
          border-radius: 50%;
          border: 1px solid white;
          background-color: red;
        }
      }
    }
  }
}
