.Wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .Content {
    top: 15vh;
    left: 60vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
    height: 15vh;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(247, 241, 241);
    color: black;
    z-index: var(--message-z-idex);
    line-height: 1rem;
    padding: 5vh;

    &::before {
      display: block;
      content: "";
      position: absolute;
      top: 10px;
      left: 10px;
      width: 2vw;
      height: 2vw;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.info::before {
      background-image: url("../../../../public/info-icon.png");
    }
    &.success::before {
      background-image: url("../../../../public/succses-icon.png");
    }
    &.warning::before {
      background-image: url("../../../../public/warning-icon1.png");
    }
    &.error::before {
      background-image: url("../../../../public/error-icon.png");
    }
  }

  .btn {
    position: absolute;
    bottom: 10%;
    padding: 0 30px;
    border-radius: 5%;
    cursor: pointer;
  }
}

@media (max-width: 413px) {
  .Wrapper .Content {
    top: 15vh;
    left: 20vw;
    min-width: 70vw;
    min-height: 10vh;

    &::before {
      display: block;
      content: "";
      position: absolute;
      top: 10px;
      left: 10px;
      width: 7vw;
      height: 7vw;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
